.frame { 
 background-color: transparent;
 background-image: url(sprite-posture28ef0e6bf505c22e983297120bedf6d4.jpg);
 background-repeat: no-repeat;
 width: 680px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -1360px 0; } 
.frame-2 { background-position: -2040px 0; } 
.frame-3 { background-position: -2720px 0; } 
.frame-4 { background-position: -3400px 0; } 
.frame-5 { background-position: -4080px 0; } 
.frame-6 { background-position: -4760px 0; } 
.frame-7 { background-position: -5440px 0; } 

